<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
</head>


<body>
    <section>
        <h1>Cerquem el teu nou col·laborador científic</h1>
    <section id="form-group">
    </section>
        Farem servir la URL de la teva empresa per a trobar el vostre camp d'acció.
        <form id="url-form" action="javascript:submitURLForm()">
          <label for="url">Lloc web de la teva empresa</label>
          <input type="text" id="url_field" name="url" required>
        </form>
    </section>
    <section id="convocatories" style="display:none;">

    </section>
    <section id="convocatoria_emplenada" style="display:none;">

    </section>

    <section>
        Cerca al Catàleg Científic:
        <!-- TODO: Fer zoom al nom que et passarà el scimatcher (e.g. afegir &n=Josep Llados) a la url, però hauràs de sanitejar l'string -->
      <iframe src="https://ouestware.gitlab.io/retina/beta/#/graph/?url=https%3A%2F%2Fgist.githubusercontent.com%2FEauDeData%2F24650ed0e9cec4aa52dc6f0ffd2fddbe%2Fraw%2F4899a5a915498d437f56f623145b3100c292b799%2Fnetwork-02393d0a-b09.gexf"
              width="100%"
              height="400"
              style="border: none;">
      </iframe>
    </section>
</body>
</html>
